body {
  font-family: Verdana, Arial, sans-serif;
  background-color: #f8f8f8;
  color: #222;
}
header {
  background-color: #222;
  color: #f8f8f8;
  border-radius: 0 0 20px 20px;
}
header h1 {
  font-size: 230%;
  margin-right: 0px;
}
.main {
  margin-top: 40px;
}

.main h1 { font-size: 200% }
.main h2 { font-size: 170% }
.main h3 { font-size: 140% }
.main h4 { font-size: 110% }
.main h5 { font-size: 100% }
.main h6 { font-size: 100% }

img.me {
  float: right;
  width: 50%;
  height: auto;
  border-radius: 20px;
}

@media (min-width: 992px ) {
  header {
    position: relative;
  }
  .tagline {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
